syntax: glob

# Ignore Visual Studiofiles
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Bb]in
[Dd]ebug*/
obj
bin

[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.pubxml

_ReSharper*/

.svn
log.log*

.sass-cache
*.received.*

*packages/*
*.sublime-workspace

Temp/*

build/*

.idea/
.vs/
.DS_Store

